/* -------- ------- ------ ----- all ----- ------ ------- -------- */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: sans-serif;
  font-size: 1.5em;
  max-width: 90%;
  margin: 0 auto;
}
.none {
  display: none;
}
/* -------- ------- ------ ----- form ----- ------ ------- -------- */
.title {
  text-align: center;
  background-color: #d6e738;
  margin-top: 0.5em;
  padding: 0.5rem;
  border-radius: 5px;
}
.pokemon__elegido, .buscar {
  outline: none;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
}
.form {
  margin: 1em;
  max-width: 90%;
}
.pokemon__elegido {
  border: 2px solid #000;
  padding: 6px;
  font-size: 1rem;
  text-align: center;
}
.buscar {
  background-color: rgb(97, 152, 235);
  border: 1px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: transform .1s;
  /* font-size: 200px; */
}
.buscar:hover, .buscar:focus {
  background-color: rgb(25, 108, 233);
  transform: scale(1.1);
}
/* -------- ------- ------ ----- main ----- ------ ------- -------- */
.pokemon {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 1rem; */
  padding: 0 .5rem;
}
.pokemon__list {
  background-color: #d6e738 ;
  border: 3px solid #000;
  border-radius: 1rem;
  -webkit-box-shadow: 7px 9px 14px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 14px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 14px -7px rgba(0, 0, 0, 0.75);
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
}
.pokemon__name {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: bold;
}
.pokemon__image {
  width: 10em;
}
.pokemon__right, .pokemon__left {
  padding: 1em;
}
.pokemon__title {
  font-size: 2rem;
  margin-bottom: .5rem;
}
.pokemon__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

/* -------- ------- ------ ----- mediaqueries ----- ------ ------- -------- */

@media screen and (max-width: 800px) {
  .pokemon__list {
    grid-template-columns: 1fr;
    /* row-gap: 1rem; */
  }
  .form {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 100px; */
    /* padding: .5rem; */
  }
  .pokemon__elegido {
    margin-bottom: 1rem;
  }
}