* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 1.5em;
  max-width: 90%;
  margin: 0 auto;
}
h1 {
  text-align: center;
  background-color: #d6e738;
  margin-top: 0.5em;
  padding: 0.5rem;
  border-radius: 5px;
}
input {
  outline: none;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
}
.form {
  margin: 1em;
  max-width: 90%;
}
.pokemon__elegido {
  border: 2px solid #000;
  padding: 6px;
  font-size: 1rem;
}
.buscar {
  background-color: rgb(97, 152, 235);
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 200px; */
}
.buscar:hover {
  background-color: #48e;
}
.pokemon {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 1rem; */
  padding: 1rem;
}
.pokemon__list {
  border: 3px solid #000;
  border-radius: 1rem;
  -webkit-box-shadow: 7px 9px 14px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 14px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 14px -7px rgba(0, 0, 0, 0.75);
  text-align: center;
}
.pokemon__name {
  text-transform: capitalize;
  margin: 1rem 1rem 0 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.pokemon__image {
  width: 10em;
}